{% extends 'base2.html' %}
{% load static %}
{% block title %}考试中心{% endblock %}

{#{% block css %}#}
{#    <link rel="stylesheet" href="{% static 'css/login.css' %}">#}
{#{% endblock %}#}


{% block content %}



     <div class="row row-cols-1 row-cols-md-2 g-4">
         <div class="col">
             <div class="card">
                 <img src="{% static 'img/bg1.jpg' %}" style="height: 200px;" class="card-img-top" alt="...">
                 <div class="card-body">
                     <h5 class="card-title">Card title</h5>
                     <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                         additional content. This content is a little bit longer.</p>
                 </div>
             </div>
         </div>
         <div class="col">
             <div class="card">
                 <img src="{% static 'img/bg1.jpg' %}" style="height: 200px;" class="card-img-top" alt="...">
                 <div class="card-body">
                     <h5 class="card-title">Card title</h5>
                     <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                         additional content. This content is a little bit longer.</p>
                 </div>
             </div>
         </div>
         <div class="col">
             <div class="card">
                 <img src="{% static 'img/bg1.jpg' %}" class="card-img-top" alt="...">
                 <div class="card-body">
                     <h5 class="card-title">Card title</h5>
                     <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                         additional content.</p>
                 </div>
             </div>
         </div>
         <div class="col">
             <div class="card">
                 <img src="{% static 'img/bg1.jpg' %}" class="card-img-top" alt="...">
                 <div class="card-body">
                     <h5 class="card-title">Card title</h5>
                     <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                         additional content. This content is a little bit longer.</p>
                 </div>
             </div>
         </div>
     </div>



{% endblock %}