{% extends 'base2.html' %}
{% load static %}
{% block title %}考试中心{% endblock %}

{#{% block css %}#}
{#    <link rel="stylesheet" href="{% static 'css/login.css' %}">#}
{#{% endblock %}#}


{% block content %}


    <div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading" style="margin-top: 20px">
                <div style="margin-bottom: 20px">
{#                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"#}
{#                         class="bi bi-bookmark-heart-fill" viewBox="0 0 16 16">#}
{#                        <path d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v13.5zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"></path>#}
{#                    </svg>#}
{#                   <a class="btn btn-success" href="#">新建用户</a>#}
{#                    <a class="btn btn-success" href="#">新建用户</a>#}
                    <form action="/search/" method="post">

                        <div class="row">
                            <div class="col">
                                <input type="text" name="charater" class="form-control" placeholder="章节">
                            </div>
                            <div class="col">
                                <input type="text" name="course" class="form-control" placeholder="课程">
                            </div>
                            <div class="col">
                                <select name="difficulty" class="form-control" placeholder="难度">
                                    <option value="">全部</option>
                                    <option value="">难</option>
                                    <option value="">中</option>
                                    <option value="">易</option>
                               </select>
                            </div>
                            <div class="col">
                                <label disabled="true"></label>
                               <button type="submit" class="btn btn-primary">搜索</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>


            <div class="panel-body" >
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th>课程</th>
                        <th>章节</th>
                        <th>ID</th>
                        <th>标题</th>
                        <th>题目类型</th>
                        <th>题目选项</th>
                        <th>难度</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in data %}
                        <tr>
                            <th>{{ obj.course_id }}</th>
                            <th>{{ obj.chapter }}</th>
                            <th>{{ obj.id }}</th>
                            <td>{{ obj.title }}</td>
                            <td>{{ obj.question_tpye }}</td>
                            <td>{{ obj.question_item }}</td>
                            <td>{{ obj.difficulty }}</td>
                            {#                            <td>{{ obj.create_time|date:"Y-m-d" }}</td>#}
                            <td>
{#                                <a class="btn btn-primary btn-xs" href="/user/{{ obj.id }}/edit">答题</a>#}
                            </td>
                        </tr>
                    {% endfor %}

            </tbody>
        </table>
      <nav aria-label="Page navigation example">
       {% if data.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if data.has_previous %}
                <li class="page-item"><a class="page-link"  href="?page={{ data.previous_page_number }}">上一页</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#">上一页</a></li>
            {% endif %}

            {% for num in data.paginator.page_range %}
                {% if num == data.number %}
                    <li class="page-item active "><a class="page-link" href="#">{{ num }}</a></li>
                {% else %}
                    <li class="page-item"><a  class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if data.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ data.next_page_number }}">下一页</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#">下一页</a></li>
            {% endif %}
        </ul>
       {% endif %}
      </nav>
    </div>






        </div>




    </div>
</div>





{% endblock %}