{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>试卷中心</title>
     <link rel="stylesheet" href="{% static 'plugings/bootstrap-5.3/css/bootstrap.min.css' %}">
    

    



    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      .current{
          display: none;
      }
    </style>

    
    <!-- Custom styles for this template -->
{#    <link href="dashboard.css" rel="stylesheet">#}
  </head>
  <body>
    
<header>
   <nav class="navbar navbar-expand-lg" style="background-color: grey " >
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: chartreuse;text-align: center" >
            <img src="{% static 'img/logo4.png' %}" alt="Logo" width="38" height="32"
                       class="d-inline-block align-text-top" >
            深度练习
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index2" style="color: #b6d4fe">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/total/problems/" style="color: #b6d4fe">题库</a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="/user/curriculum/" style="color: #b6d4fe">课程</a>#}
{#                </li>#}
                <li class="nav-item">
                    <a class="nav-link" href="/user/exam2/" style="color: #b6d4fe">试卷中心</a>
                </li>


            </ul>
            <form class="d-flex" role="button">
                <div class="nav-item"> <a class="nav-link" href="/user/" style="color: #3dd5f3">你好！{{ request.session.info.name }}</a></div>
             </form>


        </div>
    </div>
</nav>
</header>

<header class="navbar navbar-nav-scroll sticky-top bg-white flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#"></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="#"></a>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span data-feather="home" class="align-text-bottom"></span>
              公告
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file" class="align-text-bottom"></span>
              评分标准
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart" class="align-text-bottom"></span>
              记录笔记
            </a>
          </li>

          </li>

        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
          <span></span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle" class="align-text-bottom"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
             讨论
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              帮助中心
            </a>
          </li>


        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">数据库原理</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" id="common" class="btn btn-sm btn-outline-secondary">常规试卷</button>
          </div>
          <button type="button" id="recommend" class="btn btn-sm btn-outline-secondary">
            <span data-feather="calendar" class="align-text-bottom"></span>
            自我突破
          </button>
        </div>
      </div>



      <h3 style="color: #ff7f50" id="paper_type">固定试卷</h3>
      <div id="p1" class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">序号</th>
              <th scope="col">名称</th>
              <th scope="col">开始时间</th>
              <th scope="col">答题时间限制</th>

              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>

          {% for paper in lineset1 %}
            <tr>
              <td>{{ paper.id }}</td>
              <td>{{ paper.title }}</td>
              <td>{{ paper.examtime }}</td>
              <td>{{ paper.time }}</td>
                <td></td>
              <td>
                   <a href="/user/list/?uid={{ request.session.info.id }}&pid={{ paper.id }}">
                       <button class="btn btn-primary" id="/user/list/+{{ paper.id }}">开始考试</button>
                   </a>
              </td>
            </tr>

           {% endfor %}

          </tbody>
        </table>
      </div>

      <div id="p2" class="table-responsive" style="display: none">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">序号</th>
              <th scope="col">名称</th>
              <th scope="col">开始时间</th>
              <th scope="col">答题时间限制</th>

              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>

          {% for paper in lineset2 %}
            <tr>
              <td>{{ paper.id }}</td>
              <td>{{ paper.title }}</td>
              <td>{{ paper.examtime }}</td>
              <td>{{ paper.time }}</td>
                <td></td>
              <td>
                   <a href="/user/test/?uid={{ request.session.info.id }}&pid={{ paper.id }}">
                       <button class="btn btn-primary"  id="/user/test/+{{ paper.id }}">开始考试</button>
                   </a>
              </td>
            </tr>

           {% endfor %}

          </tbody>
        </table>
      </div>
    </main>

  </div>
</div>


<script>
    var c_paper = document.getElementById("common");
    var r_paper = document.getElementById("recommend");
    var table1=document.getElementsByClassName("table-responsive");
    var h3 = document.getElementById("paper_type");
    c_paper.onclick = function (){
        h3.innerText = "固定试卷";
        table1[1].style = "display:none";
        table1[0].style = "";

    }
    r_paper.onclick = function (){
        h3.innerText = "推荐试卷";
        table1[0].style = "display:none";
        table1[1].style = "";
    }


</script>


   <script src="{% static 'js/jquery.countdown.js' %}"></script>
<script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
<script src="{% static 'plugings/bootstrap-5.3/js/bootstrap.min.js' %}"></script>
  </body>
</html>
